html
  head
    title!= title
    script(src="../bower/extjs/build/ext-all.js",type="text/javascript")
    script(src="../bower/extjs/build/classic/theme-triton/theme-triton.js",type="text/javascript")
    link(href="../bower/extjs/build/classic/theme-triton/resources/theme-triton-all.css",rel="stylesheet",type="text/css")
    script(src="../input/index.js",type="text/javascript")
  body
